body {
    background-color: #131d41;
}

.letter-box {
    margin: 10vh 10vw 0 10vw;
    color: white;
    background: rgb(78,102,148);
    background: radial-gradient(circle, rgba(78,102,148,1) 0%, rgba(101,151,161,1) 100%);


    padding: 1em;

    box-shadow: 0 0 70px 10px rgba(255, 255, 255, 0.34);

    border: none;
    border-width: 1px;
    border-radius: 10px;
    border-color: #c0cdff;

    display: block;
}

.title-letter, .content-letter, .end-letter {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.85ch;

    margin: 2em;
}

.title-letter {
    font-weight: bold;
}

.end-letter {
    text-align: end;
    font-weight: bold;
}

.watermark {
    display: block;
    text-align: center;
    color: #424d78;

    margin-top: 2em;
    margin-bottom: 2em;

    font-weight: 600;
    font-family: Montserrat;
}